<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_CLIENT_ID</key>
	<string>296324231687-e1ecrjgjqfdqmd73dt9d02g8o64a77ph.apps.googleusercontent.com</string>
	<key>CLIENT_ID</key>
	<string>296324231687-uir2ckc3ggot0p7ck7jkvr0iernieku1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296324231687-uir2ckc3ggot0p7ck7jkvr0iernieku1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296324231687-08maj50euja8dujn0dpu7ugvotfe3nas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8u0udLLeMaKJ5h4FbANLcpP0pcJZ-ng0</string>
	<key>GCM_SENDER_ID</key>
	<string>296324231687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grup.apple</string>
	<key>PROJECT_ID</key>
	<string>grup-378801</string>
	<key>STORAGE_BUCKET</key>
	<string>grup-378801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:296324231687:ios:316b9e908414ee852770a2</string>
</dict>
</plist>
